
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E6F3;
    padding: 15px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top:0;
    right: 0;
}
ul#menu{
    display: flex;
    list-style: none;
}
ul#menu li{
margin:0 20px;
}

ul#menu li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 800px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    position: relative;
    color: black;
}
ul#menu li a:visited{
    color: black;
}
ul#menu li a.active,ul li a:hover{
    color:#088178;
}

ul#menu li a:hover::after,ul li a.active::after{
    content: "";
    position: absolute;
    width:50%;
    background-color: #088178;
    height: 2px;
    bottom: -5px;
    left:0;
}
#hero{
    background-image: url('{{asset("/front/images/hero4.png")}}');
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    align-items: center;
    width:100%;
}
.content{
    margin:0 80px ;
}
.content h4{
    font-size: 25px ;
    letter-spacing: 1px;
}
.content h2{
    font-size: 55px;
    letter-spacing: 1px;
}
.content h1{
    font-size: 50px;
    letter-spacing: 1px;
    color: #088178;
}
.content p{
    margin: 20px 0;
}
.content button{
   width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    background-image: url(images/img/button.png);
    background-position: center;
    background-size: cover;
    color:#088178;
    font-weight: bold;
    mix-blend-mode:darken;
    font-size:15px;
    cursor: pointer;
}
#features{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    
}
#features img{
    padding: 20px 0 10px 0;
    object-fit: contain;
}
.feature{
    border: 1px solid rgb(205, 195, 195);
    height: 185px;
    width: 160px;
    border-radius: 3px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}
.feature:hover{
    box-shadow: 10px 10px 54px rgba(50, 70, 65, 0.08);
}
.feature h6{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: #088178;
    margin: 0 20px 40px 20px;
    padding:5px 2px;
    border-radius: 5px;
}
.feature:nth-child(1) h6{
background-color:rgb(243, 181, 212) ;
}
.feature:nth-child(2) h6{
    background-color: rgb(209, 237, 209) ;
 }
.feature:nth-child(3) h6{
    background-color:rgb(199, 224, 234) ;
    }
.feature:nth-child(4) h6{
     background-color:rgb(181, 204, 243) ;
        }
 .feature:nth-child(5) h6{
     background-color:rgb(230, 182, 225) ;
            }
.feature:nth-child(6) h6{
     background-color:rgb(242, 216, 186) ;
}
 .products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px 0;
    margin: 60px 0;
 } 
.featured-products h2{
font-size: 50px;
text-transform: capitalize;
text-align: center;
margin-bottom: 10px;
}
.featured-products p{
    color: gray;
    text-align: center;
    font-size: 20px;
    
}
.product{
  min-width:280px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 7px 2px 7px 9px ;
  margin:0 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product:hover{
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.03);
}
.product img{
width: 260px;
height: 260px;
display: inline-block;
border-radius: 20px;
}
.product h6{
    color: gray;
    margin-top: 10px;
    font-size: 12px;
}
.product h3{
    font-size: 17px;
    margin:5px 0;
    text-transform: capitalize;
}
.fa-star{
    color: rgb(243, 216, 68);
}
.stars{
    margin-bottom: 5px;
}
.product span{
    color: #088178;
    font-weight: bold;
}
.fa-cart-shopping{
    color: #088178;
    background-color: rgb(243, 233, 233);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}
.fa-cart-shopping:hover{
    background-color: #088178;
    color: white;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner{
    background-image: url(images/img/banner/b2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 10px;
    color: white;
}
#banner h5{
    font-size: 16px;
    text-transform: capitalize;
    padding:60px 0 20px 0;
}
#banner h1{
    text-transform: capitalize;
    font-size: 35px;
    padding-bottom: 20px;
}
#banner h1 span{
    color: rgb(213, 27, 27);
}
#banner button{
    padding: 10px 25px;
    background-color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    min-width:120px;
    min-height: 40px;
    cursor: pointer;
}
#banner button:hover{
    background-color: #088178;
    color: white;
    transition: 0.2s ease-in-out;
}
#action-banners{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.banner1{
    background-image: url(images/img/banner/b17.jpg);
   }
.banner1,.banner2{
    width: 40%;
    height: 40vh;
    background-position:top 20%;
    background-size: cover;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    color:white;
}

.banner1 h5,.banner2 h5{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
}
.banner1 h2,.banner2 h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.banner1 p,.banner2 p{
    font-size: 14px;
    margin-bottom: 20px;
}
.banner1 button,.banner2 button{
    display: inline-block;
    width:100px;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color:white;
    font-weight: 700;
    text-transform: capitalize;
}
.banner1 button:hover,.banner2 button:hover{
    background-color: #088178;
    color: white;
    transition: 0.3s ease-in-out;
}
.banner2{
    background-image: url(images/img/banner/b10.jpg);
}
.banner3{
width:28%;
margin-right: 20px;
background-image: url(images/img/banner/b7.jpg);
background-position: center;
background-size: cover;
height:30vh ;
display: flex;
justify-content: center;
flex-direction: column;

}
.banner3,.banner5,.banner4{
    padding-left: 13px;
}
.banner4{
    width:38%;
    margin-right: 20px;
    background-image: url(images/img/banner/b4.jpg);
    height: 30vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner5{
    width: 29%;
    background-image: url(images/img/banner/b18.jpg);
    height: 30vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#action-banners2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 83%;
   
}
.banner3 h2,.banner4 h2,.banner5 h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.banner3 h6,.banner4 h6,.banner5 h6{
    font-size: 15px;
    font-weight: 600;
    color:rgb(236, 40, 83);
    text-transform: capitalize;
}
#newsletters{
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/img/banner/b14.png);
    background-color: rgb(29, 29, 68);
    background-position: top 20% left 30%;
    background-size: cover;
    width: 100%;
    height: 20vh;
}
#newsletters .new1{
    width: 35%;
}
.new1 h2{
    color: white;
    font-size: 27px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.new1 p{
    color: rgb(195, 187, 187);
    text-transform: capitalize;
    font-size: 16px;
}
.new1 p span{
    color: rgb(213, 27, 27);
}
#newsletters .new2{
    width: 35%;
}
.new2 form{
    display: flex;
}
#newsletters input[type="text"]{
    width:65%;
    height: 6vh;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
    margin-left: 50px;
}
#newsletters input[type="submit"]{
    width: 20%;
    background-color: #088178;
    color: white;
    border: none;
    outline: none;
    height: 6vh;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0 4px 4px 0;
}
footer{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c5{
width: 100%;
margin:20px 0;
display: flex;
justify-content: center;
}

.c1 p{
    color:rgb(160, 158, 158) ;
    display: inline-block;
}
.c1 h3,.c2 h3,.c3 h3,.c4 h3,.c5 {
    text-transform: capitalize;
    margin: 20px 0;
}
.c1 h6,.c2 h6,.c3 h6,.c4 h6{
margin:5px 0;
color: rgb(160, 158, 158);
text-transform: capitalize;
font-weight: lighter;
}
.c1 h6{
    display: inline-block;
    text-transform: capitalize;
    color:black;
    }   
.c4 img.app{
border: 2px solid #088178;
border-radius: 5px;
}
.c4 h5{
    padding: 10px 0;
}
.c5{
    color:rgb(160, 158, 158)
}

.mobile{
    display: none;
}
#menu .fa-x{
    display: none;
}
#menu.active{
    right:0px;
}

@media (max-width:799px){
   header ul#menu{
   display: flex;
   flex-direction: column;
   height:100vh;
   position: fixed;
   background-color: #E3E6F3;
   width:300px;
   right: -300px;
   top:0px;
   box-shadow: 15px 30px 60px rgba(0, 0, 0, 0.03);
   transition: 0.3s ease-in-out;
   margin-top: 20px;
   padding-left: 10px;
   }
#menu .fa-x{
margin:10px 0px 20px 12px;
cursor: pointer;
display: block;
}
header ul li:last-child{
    display: none;
}
header ul li{
    margin-bottom: 15px;
}
.mobile{
    display:flex;
    align-items: center;
}
.mobile .fa-bars{
    cursor: pointer;
}
.mobile a .fa-bag-shopping{
    color: black;
    margin-right: 20px;
    
}

.mobile.active{
    position: fixed;
    right: 310px;
    transition: 0.09s ease-in-out;
}
#hero{
    background-size: cover;
    background-position:right 20% left 30%;
    height: 70vh;
}
#features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}
.feature{
    border: 1px solid rgb(205, 195, 195);
    height: 220px;
    width: 200px;
    margin:20px;
}
#features img{
    padding: 20px  15px 10px 15px;
    object-fit: contain;
    text-align: center;
}
.feature h5{
    margin: 0 20px 0 20px;
    padding:5px 2px;
    border-radius: 5px;
}
#banner {
    
    align-items: center;
    height: 30vh;
    justify-content: center;
}
#banner h5 {
    padding: 0 0 20px 0;
}
.banner1, .banner2 {
    width: 100%;
    height: 30vh;
    margin: 0 20px;
    }
    #action-banners2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
}
.banner3{
    width:30%;
}
.banner4{
    width: 40%;
}
.banner5{
    width: 30%;
}
.product{
    width: 60%;
}
.product img {
    width: 98%;
}
#newsletters {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}
#newsletters .new1 {
    width: 100%;
    
}
#newsletters .new2 {
    width: 70%;
    
}
#newsletters input[type="text"] {
    height: 5vh;
    margin-left: 0;
}
#newsletters input[type="submit"] {
    width: 20%;
    height: 5vh;
}

.new2 form {
    display: flex;
    margin-top: 20px;
}
}
@media (max-width:1024px){
    #features{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px 0;
    }
    .feature{
        border: 1px solid rgb(205, 195, 195);
        height: 220px;
        width: 200px;
        margin:20px;
    }
    #features img{
        padding: 20px  15px 10px 15px;
        object-fit: contain;
        text-align: center;
    }
    .feature h5{
        margin: 0 20px 0 20px;
        padding:5px 2px;
        border-radius: 5px;
    }
}
@media (max-width:477px){
    #hero {
        background-size: cover;
        background-position: 66% 10%;
        height: 70vh;
    }
    #action-banners2 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 90%;
    }
    .banner3,.banner4,.banner5{
     width: 100%;   
    }
    .banner1 {
        background-position: 55%;
    }
    .c1,.c4{
        margin-left: 25px ;
    }
    #newsletters input[type="submit"] {
    width: 30%;
    }
     #newsletters .new2 {
        width: 100%;
        }
    #newsletters{
        height: 30vh;
    }
    .product{
        width: 100%;
    }
    .product img {
        width: 98%;
        height: 260px;
        display: inline-block;
        border-radius: 20px;

    }

}

/* shop page */
#shop-header{
width:100%;
background-image: url(images/img/banner/b1.jpg);
background-position:50% 50%;
background-size: cover;
height: 40vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
#shop-header .content h3{
    font-size: 50px;
    margin-left: 12px;
}
#shop-header .content p{
    color: gainsboro;
}
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:60px 0;
}
#pagination button{
    border-radius: 3px;
    background-color: #088178;
    color: white;
    padding: 5px;
    width:40px;
    height: 40px;
    border: none;
    outline: none;
    margin: 0 5px;
    font-weight: bold;
}


/* product page */
#details{
    display: flex;
    
    margin: 50px 5.5% 50px 4.5%;
}
.product-imgs{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
.product-details{
    width: 65%;
    margin-top: 20px;
}
.product-details h3{
    text-transform: capitalize;
    font-weight: bold;
    margin:20px 0;
}
.product-details form{
    margin-top: 10px;
}
.product-details form select{
    border:2px solid gainsboro;
    padding: 3px;
    color: rgb(202, 193, 193);
    border-radius: 2px;
}
.product-details form input[type="number"]{
    margin:7px 3px 0 0;
    height: 40px;
    width: 40px;
    padding-left: 3px;
    outline-color:gainsboro;
    border:2px solid gainsboro;
    color:rgb(202, 193, 193);
    border-radius: 2px;
}
.product-details form input[type="button"]{
    padding: 5px;
    color: white;
    background-color: #088178;
    outline: none;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    font-weight: 700;
}
#details .product-imgs .p-img{
    width:90%;
    height:420px;
}
#details .product-imgs .p-img img{
    width: 100%;
    height: 100%;
}
.similar-products{
    display: flex;
    width:90%;
    margin: 3px 0;
    justify-content: space-between;
}
.similar-products img{
    width: 24%;
    height: 100px;
    cursor: pointer;
}
.psummary{
    width:50%;
}
.psummary h3{
    font-weight: bold;
}
.psummary p{
    color:grey;
    line-height: 20px;
}
@media (max-width:766px){
    .product-imgs{
        width:50%;
        margin-right: 20px;
    }
     .product-details{
        width: 50%;
     }
     #details .product-imgs .p-img{
        width: 100%;
     }
     .p-img img{
        width: 100%;
     }
     .similar-products{
        width: 100%;
     }
     .psummary {
        width: 100%;
}
}
@media (max-width:477px){
    #details{
        flex-direction: column;
    }
    .product-imgs{
        width:100%;
    }
     .product-details{
        width: 100%;
     }
     #details .product-imgs .p-img{
        width: 100%;
     }
     .p-img img{
        width: 100%;
     }
     .similar-products{
        width: 100%;
     }
}


/* blog page */

#blog-header{
    background-image: url(images/img/banner/b19.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}
#blog-header .content h3{
    font-size: 50px;
    margin-left: 12px;
}
#blog-header .content p{
    color: gainsboro;
}
#blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.blog-img{
    width: 40%;
    height: 250px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    z-index: 99;
}
.blog-img h1{
    position: absolute;
    left:30%;
    top:-20%;
    z-index: -2;
    font-size: 70px;
    color: rgb(207, 198, 198);
    font-weight: bold;
}
.blog-img img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    width: 60%;
    margin-left: 30px;
    margin-top:40px ;
}
.blog-text h3{
    margin-bottom: 15px;
    text-transform: capitalize;
}
.blog-text p{
    width: 60%;
    color: gray;
}
.blog-text a{
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color:black;
    font-size: 14px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.blog-text a:visited{
    color: black;
}
.blog-text a::after{
    content: '';
    width:40px;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top:50%;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}
.blog-text a:hover{
    color: #088178;
}
.blog-text a:hover::after{
    background-color: #088178;
}

@media (max-width:677px){
    .blog {
        flex-direction:column;
        margin: 50px 0;
}
.blog-img {
    width: 100%;
    height: 250px;
    align-items:center;
}
.blog-img h1 {
    position: absolute;
    left: 25%;
    top: -20%;
    z-index: -2;
    font-size: 70px;
    color: rgb(207, 198, 198);
    font-weight: bold;
}
.blog-img img{
    width:100%;
}
.blog-text {
    width: 100%;
    margin-top: 40px;
    margin-left:0px;
}
.blog-text p{
    width: 100%;
}
#blogs{
    padding: 5px;
}

}

/* about page */

#about-header{
    background-image: url(images/img/about/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
#about-header .content h3{
    font-size: 50px;
}
#about-header .content p{
    color: gainsboro;
}

#aboutus{
width: 100%;
display: flex;
justify-content: center;
padding:0 50px 50px 50px ;
margin-bottom: 50px;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content:flex-end;
}
.about-img img{
    width: 80%;
    margin-right: 30px;

}
.about-text{
    width: 50%;
    margin-top: 50px;
}
.about-text h1{
    font-size: 50px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.about-text p{
    width: 70%;
    color: rgb(173, 167, 167);
    margin-bottom: 30px;
}
#video-app{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}
#video-app video{
border-radius: 20px;
width: 50%;
}
#video-app h1{
    text-transform: capitalize;
    font-size: 60px;
    margin-bottom: 30px;
}
#video-app h1 a{
    color: purple;
}
.about-text abbr{
    display: inline-block;
    width: 80%;
}
@media (max-width:850px){
    .about-img img{
        width: 100%;
        object-fit: contain;
    }
    .about-text p{
        width: 100%;
    }
    .about-text abbr{
        width: 100%;
    }
    .about-text h1{
        font-size: 40px;
    }
    #video-app h1{
        font-size: 50px;
    }
    #video-app video{
        width:80%;
    }
}
@media (max-width:466px){
    #aboutus{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .about-img {
            width:100%;
            justify-content: flex-start;
        }
        .about-text{
            width: 100%;
        }
        #aboutus {
            padding: 0 30px 50px 30px;
            margin-bottom: 50px;
        }
        #video-app h1{
            font-size: 40px;
        }
        #video-app video {
            width:80%
        }
}

/* contact page */

/* Set the size of the div element that contains the map */
.location-map {
    height: 400px;
    width: 60%;
    margin-bottom: 50px;
  }
  .location-map #map{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    }
    #map iframe{
        width: 90%;
        height: 100%;
    }
  #location{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .location-details{
    width: 30%;
    margin-top:30px ;
  }
  .location-details h5,.location-details h2,.location-details ul li{
    margin-bottom: 20px;
  }
  .location-details ul{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .location-details h5:first-child ,.location-details ul li{
    color: rgb(202, 195, 195);
  }
  .location-details ul li i{
    margin-right: 10px;
    color: #000;
  }
  
  .location-details h5{
    font-weight: bold;
  }
  .contact{
    display: flex;
    justify-content: center;
  }
  #contact-us{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding:60px 70px;
    width: 90%;
    margin-bottom: 50px;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  .contact-form h2{
    margin-top: 20px;
  }
  .contact-form h5{
    text-transform: uppercase;
    color:rgb(157, 153, 153);
  }
  .contact-form form{
    margin-top: 20px;
  }
  .contact-form form input,textarea{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding:10px;
    border:2px solid #e1e1e1;
    color: #e1e1e1;
    border-radius: 4px;
    outline: none;
  }
  .contact-form form input[type="submit"]{
    width:15%;
    background-color: #088178;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
  }
  .person{
    display: flex;
    margin-bottom: 30px;
  }
  .person img{
    width:20%;
    margin-right: 20px;
    display: inline-block;
    object-fit: contain;
    margin-bottom: 30px;
  }
  .person .person-info ul{
    list-style: none;
    color: rgb(157, 153, 153);
    margin-top: 8px;
  }
  .person .person-info ul li{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 13px;
  }
  .person-info h4{
    text-transform: capitalize;
  }
  @media (max-width:799px){
    #contact-us {
        padding: 30px;
    }
    .contact-form{
        margin-right: 30px;
        width: 50%;
    }
  }
  @media (max-width:477px){
    #location{
    flex-direction: column;
    align-items: center;
    }
    .location-details{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .location-map{
        width: 100%;
    }
    #map iframe{
        width: 100%;
    }
    #contact-us{
        flex-direction: column;
        padding: 20px;
    }
    .contact-form{
        width: 100%;
        margin-bottom: 10px;
        }
    .contact-form form input[type="submit"]{
        width: 30%;
        }
  }


  /* cart page */
  #cart{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    overflow-x: auto;
  }
  #cart .table{
    width: 90%;
    }
  #cart .table table{
    width: 100%;
  }
  .table table th{
    border:2px solid #e1e1e1;
    border-left: none;
    border-right: none;
    padding:10px;
    text-transform: capitalize;
  }
  .table table td{
    text-align: center;
    padding:10px 0;
    color: gray;
  }
  .table table td input{
    width:65px;
    height: 35px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 2px solid #e1e1e1;
  }
  .table table td i{
    color: red;
  }

  #pay{
    display: flex;
    justify-content:center;
    width: 100%;
  }
  .cupon{
    width: 46%;
  }
  .cupon h3{
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .cupon form input[type="text"]{
    width: 45%;
    outline: none;
    height: 30%;
    border: 1px solid #e1e1e1;
    padding: 10px;
}
.cupon form input[type="submit"]{
    width: 10%;
    height:30% ;
    color: white;
    background-color: #088178;
    border-radius: 3px;
    border: none;
    padding:10px 0;
    outline: none;
    margin-left: 10px;
}
  .cart-totals{
    width: 46%;
    border: 1px solid #e1e1e1;
    padding: 30px;
    height: 235px;
  }
  .cart-totals h3{
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .cart-totals table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse:collapse ;
   }
  .cart-totals table td{
    border: 1px solid #e1e1e1;
   padding: 5px 10px ;
   color: gray;
   font-weight: 600;
   font-size: 14px;
  }
  .cart-totals table tr:last-child td{
    color: #000;
  }
  .cart-totals button{
    width: 30%;
    height:20%;
    color: white;
    background-color: #088178;
    border-radius: 3px;
    border: none;
    padding:5px 0;
    outline: none;
  }

  @media (max-width:799px){
    .cupon form input[type="submit"] {
        width: 15%;
    }
    .cart-totals button {
        width: 35%;
        height: 30%;
        padding: 10px 0;
        
    }
  
  }
  @media (max-width:477px){
    #pay {
        align-items: center;
        flex-direction: column;
    }
    .cupon{
        width:90%;
        margin-bottom: 20px;
    }
    .cart-totals {
        width: 90%;
        padding: 20px;
    }
    .cupon form input[type="text"] {
        width: 80%;
    }
  }
